*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:200vh;

    background-image:url('Logo/Fundo.png');
    background-size:cover;
    background-position:center;
}

header{

    height:20vh;

    background:#FFE600;

    display:flex;
    justify-content:center;
    align-items:center;
}

header img{
    height:70px;
}

main{

    height:80vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.register-card{

    width:400px;

    background:#8d8d8d;

    border-radius:15px;

    padding:35px;

    color:white;

    display:flex;
    flex-direction:column;

    gap:15px;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.register-card h1{
    text-align:center;
}

.register-card p{
    text-align:center;
    margin-bottom:10px;
}

input{

    padding:12px;

    border:none;

    border-radius:8px;
}

button{

    padding:12px;

    border:none;

    border-radius:8px;

    background:#FFE600;

    font-weight:bold;

    cursor:pointer;
}

button:hover{
    opacity:.9;
}

a{

    color:white;

    text-align:center;

    text-decoration:none;

    margin-top:10px;
}

a:hover{
    text-decoration:underline;
}
#listaVendasDia {
    list-style: none;
    padding: 0;
}

#listaVendasDia li {
    background: #f5f5f5;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid #ffe600;
}